.footer {
  background-color: black;
  color: white;
  padding-top: 4rem;
  width: 100%;
  /* border-top: 1px solid #333; */ /* Remove old border */
}

/* Add a custom line divider */
.footer-divider {
  width: 100%;
  height: 1px;
  background: #333;
  margin: 0 0 2rem 0;
  border: none;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 80vw;
  margin: 0 auto;
 
}

.footer-left {
  height: 100%;
  width: 50%;
  
  display: flex;
  align-items: start;
  justify-content: flex-start;
  
 
}

.footer-logo {
  width: 50px;
  height: 50px;
  margin-bottom: 1rem;
}

.footer-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer-right {
  width: 50%;
}

.footer-links {
  display: flex;
  justify-content: space-between;
}

.link-column {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.link-column a {
  cursor: pointer;
  color: rgb(177, 172, 172);
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s ease;
  font-weight: 400;
}

.link-column a:hover {
  color: #888;
}

.footer-bottom {
  margin-top: 3rem;
  text-align: center;
  padding-top: 1rem;
  border-top: 1px solid #333;
  font-size: 0.9rem;
  color: rgb(177, 172, 172);
  font-weight: 300;
}

/* Responsive styles */
@media (max-width: 768px) {
  .footer-left, .footer-right {
    width: 100%;
  }
  .footer-logo {
    width: 50px;
    height: 50px;
    margin-bottom: 3rem;
  }
  .footer-left {
    height: 10%;
   
    
    display: flex;
  
  }
  
  .footer-links {
    gap: 2rem;
  }
}

@media (max-width: 576px) {
  .footer{
    padding: 2rem 2rem;
  }
}

@media (max-width: 476px) {
  .footer{
    padding: 2rem 2rem;
  }

  .link-column a {
 
  font-size: 1rem;
 
}
}

@media (max-width: 356px) {
  .footer{
    padding: 2rem 2rem;
  }

  .link-column a {
 
  font-size: 0.8rem;
 
}
}



