@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

@import "tailwindcss";

* {
  box-sizing: border-box;

}

body,
html {
  width: 100%;
  height: 100%;
  font-family: "Source Code Pro", monospace;
}
body {
  overflow-x: hidden;
  background-color: black;
  color: white;
}

body::selection {
  background-color: #ffffff; /* background when selected */
  color: rgb(0, 0, 0); /* text color when selected */
}

.btnHome {
  cursor: pointer;
  --c: rgb(255, 255, 255);
  color: var(--c);
  font-size: 20px;
  border: 0.1em solid var(--c);
  border-radius: 0.5em;
  width: 18em;
  height: 4rem;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: 0.1em;
  text-align: center;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  /* margin: 1em; */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--c);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}

nav ul li:hover {
  color: black;
}

nav ul li:hover span {
  transform: translateY(0) scale(2);
}

nav ul li span:nth-child(1) {
  --n: 1;
}

nav ul li span:nth-child(2) {
  --n: 2;
}

nav ul li span:nth-child(3) {
  --n: 3;
}

nav ul li span:nth-child(4) {
  --n: 4;
}


.home-section-2  {
  padding: 0 10vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  text-align: start;
  flex-direction: column;
  gap: 5vh;
  margin-bottom: 10vh;

 
  h3 
  {
    font-size: 2rem;
    font-weight: 350;
  }
  
}

 .maintext {
    font-size: 3rem;
    font-weight: 500;
  }

@media (max-width: 1060px) {

  .home-section-2 {
    padding: 0 10vh;
    margin-bottom: 0vh;
   
    h3 {
     
      font-size: 1.2rem;
    }
  }

   .maintext {
      font-size: 3rem;
    }


}


@media (max-width: 840px) {
   .home-section-2 {
    padding: 0 5vh;
    margin-bottom: 10vh;
   
    h3 {
      font-size: 1rem;
    }
  }
   .maintext  {
      font-size: 2rem;
    }


}


@media (max-width: 560px) {
    .home-section-2 {
    padding: 0 5vh;
    margin-bottom: 10vh;
    
    h3 {
      font-size: 1rem;
    }
  }
  .maintext {
      font-size: 2rem;
    }

}


@media (max-width: 460px) {
    .home-section-2 {
    padding: 0 5vh;
    margin-bottom: 10vh;
    h1 {
      font-size: 1.8rem;
      /* margin-bottom: 2rem; */
    }
  }
}


@media (max-width: 420px) {

  .home-section-2 {
    padding: 0 5vh;
    margin-bottom: 10vh;
    h1 {
      font-size: 1.5rem;
      /* margin-bottom: 2rem; */
    }
  }
}
